.materials {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  width: 100%;
  height: 100%;
}

.gallery {
    margin: auto;
    width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 100px;
}

.gallery-image {
  max-width: 450px;
}
/* .image {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;

}

.image img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image.v2 {
    grid-row: span 2;
}

.image.v3 {
    grid-row: span 3;
}

.image.v4 {
    grid-row: span 4;
}

.image.h2 {
    grid-column: span 2;
}

.image.h3 {
    grid-column: span 3;
}

.image.h4 {
    grid-column: span 4;
} */
